* {
    box-sizing: border-box;
}

body {
    text-align: center;

}

.game-container {
    background-color: red;
    height: 200px;
    width: 200px;
    position: relative;
}

.game {
    display: flex;
    flex-wrap: wrap;
    height: 672px;
    width: 672px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sqm-enabled {
    flex-grow: 1;
    height: 32px;
    width: 32px;
    background-color: white;
}

.sqm-disabled {
    flex-grow: 1;
    height: 32px;
    width: 32px;
    background-color: rgb(5, 5, 5);
}

.sqm-player {
    flex-grow: 1;
    height: 32px;
    width: 32px;
    background-color: red;
}

.sqm-enemy {
    flex-grow: 1;
    height: 32px;
    width: 32px;
    background-color: blue;
}

.button {
    display: flex;
    flex-direction: row;
    margin-top: 8em;
}

button {
    padding: 4px 10px;
    text-align: center;
    font-size: 12px;
    margin: 8px;
}

.life {
    display: flex;
    align-items: center;
    border: 2px solid black;
    width: 200px;
    height: 60px;
    margin-top: 50px;
    padding: 5px;
}

.score {
    display: flex;
    align-items: center;
    width: 200px;
    height: 60px;
    margin-top: 20px;
    padding: 5px;
    border: 2px solid black;
}

.high-score {
    text-align: center;
    border: 2px solid black;
    width: 200px;
    height: 100px;
    margin-top: 50px;
}

.how-to-play {
    border: 2px solid black;
    text-align: center;
    width: 200px;
    height: 250px;
    float: right;
    margin-top: -365px;
}

