* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    background-image: url(../other-resouces/green-sky.jpeg);
    background-position: center;
    background-repeat: no-repeat;
}

.main {
    width: 1024px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

header {
    color: rgb(15, 87, 15);
}

.game-container {
    height: 190px;
    width: 190px;
}

.game {
    display: flex;
    flex-wrap: wrap;
    height: 672px;
    width: 672px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sqm-enabled {
    flex-grow: 1;
    height: 32px;
    width: 32px;
    background-color: rgb(184, 235, 184);
}

.sqm-disabled {
    flex-grow: 1;
    height: 32px;
    width: 32px;
    background-color: rgb(5, 5, 5);
}

.sqm-player {
    flex-grow: 1;
    height: 32px;
    width: 32px;
    background-image: url(../other-resouces/lord-voldemort.png);
    background-color: rgb(184, 235, 184);
    background-size: cover;
}

.sqm-enemy {
    flex-grow: 1;
    height: 32px;
    width: 32px;
    background-image: url(../other-resouces/nose.png);
    background-color: rgb(184, 235, 184);
    background-size: cover;
}

.sqm-food {
    flex-grow: 1;
    height: 32px;
    width: 32px;
    background-image: url(../other-resouces/scar.png);
    background-repeat: no-repeat;
    background-color: rgb(184, 235, 184);
    background-size: 50%;
    background-position: center;
}

.button {
    display: flex;
    flex-direction: row;
    margin-top: -15em;
    margin-left: -1em;
}

.start-button {
    padding: 10px 10px;
    text-align: center;
    font-size: 10px;
    margin: 8px;
    border-radius: 5px;
    box-shadow:rgba(0, 0, 0, 0.2);
    width: 70px;
    font-family: 'Press Start 2P', cursive;
    background-color: rgba(255, 255, 255, 0.3);
}

.reset-button {
    padding: 10px 10px;
    text-align: center;
    font-size: 10px;
    margin: 8px;
    border-radius: 5px;
    box-shadow:rgba(0, 0, 0, 0.2);
    width: 70px;
    font-family: 'Press Start 2P', cursive;
    background-color: rgba(255, 255, 255, 0.3);
}

.life {
    display: flex;
    align-items: center;
    width: 150px;
    height: 50px;
    margin-top: 50px;
    padding: 5px;
    font-size: 9px;
}

.score {
    display: flex;
    align-items: center;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    padding: 5px;
    font-size: 9px;
}

.high-score {
    text-align: center;
    width: 150px;
    height: 100px;
    margin-top: 20px;
    font-size: 10px;
}

.how-to-play {
    text-align: center;
    width: 200px;
    height: 250px;
    float: right;
    margin-top: -365px;
    font-size: 12px;
    margin-right: -3em;
}

.how-to {
    padding: 15px;
    color: red;
}

.audio-player {
    margin-top: 49em;
}